body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #F9FAFB;
    color: #1F2937;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #2563EB, #1E40AF);
    color: white;
}

.hero-buttons {
    margin-top: 30px;
}

/* BUTTONS */
button {
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary {
    background: #10B981;
    border: none;
    color: white;
}

.btn-primary:hover {
    background: #059669;
    transform: scale(1.05);
}

.btn-secondary {
    background: white;
    border: none;
    color: #2563EB;
}

.btn-secondary:hover {
    background: #E0E7FF;
}

.btn-outline {
    background: transparent;
    border: 2px solid #2563EB;
    color: #2563EB;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    width: 220px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

/* FORMS */
.form-card {
    width: 400px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
}

/* JOB CARD */
.job-card {
    background: white;
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 15px;
    background: #1F2937;
    color: white;
    margin-top: 40px;
}

.page-title {
    text-align: center;
    margin-top: 30px;
}
.link-text {
    margin-top: 15px;
    font-size: 14px;
}

.link-text a {
    color: #2563EB;
    text-decoration: none;
    font-weight: 600;
}
.sub-text {
    font-size: 14px;
    color: #6B7280;
    margin-bottom: 10px;
}

/* ATS PROGRESS BAR */
.progress-bar {
    width: 100%;
    height: 22px;
    background: #E5E7EB;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

#progressFill {
    height: 100%;
    width: 0;
    background: linear-gradient(to right, #10B981, #22C55E);
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 22px;
    transition: width 1s ease;
}
